<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDXFOY4yDrmP8uUfW3MNxIMye3CozI934I</string>
	<key>GCM_SENDER_ID</key>
	<string>124055976830</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>uailzh.ChatMeUp</string>
	<key>PROJECT_ID</key>
	<string>chatmeup-ff826</string>
	<key>STORAGE_BUCKET</key>
	<string>chatmeup-ff826.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:124055976830:ios:dabc5bdaa49d4adc6a112f</string>
</dict>
</plist>